# NOTE:
# This project uses custom container images for testing, find them here:
# https://gitlab.com/DigonIO/pypermission-images/container_registry
stages:
  - analysis
  - documentation
  - testing
  - release

variables:
  MARIADB_ROOT_PASSWORD: "NOT_SECURE"

before_script:
  - python --version
  - python ci/secrets.py

#### analysis ####
pylint_3_10_7:
  stage: analysis
  image: "python:3.10.7-alpine3.16"
  script:
    - pip install .[lint]
    - python -m pylint src
  allow_failure: true

mypy_3_10_7:
  stage: analysis
  image: "python:3.10.7-alpine3.16"
  script:
    - pip install .[lint]
    - python -m mypy src
  allow_failure: true

pydocstyle_3_10_7:
  stage: analysis
  image: "python:3.10.7-alpine3.16"
  script:
    - pip install .[lint]
    - python -m pydocstyle src
  allow_failure: true

bandit_3_10_7:
  stage: analysis
  image: "python:3.10.7-alpine3.16"
  script:
    - pip install .[lint]
    - python -m bandit -r src
  allow_failure: false

#### documentation ####
doc_3_10_7:
  stage: documentation
  image: "registry.gitlab.com/digonio/pypermission-images:pp_testing-py_3_10_8-97ae7619"
  script:
    - pip install .[doc]
    - npm install @mermaid-js/mermaid-cli --prefix ./
    - python -m sphinx -b html docs/ docs/_build/html

#### testing ####
pytest_3_10_7:
  stage: testing
  image: "registry.gitlab.com/digonio/pypermission-images:pp_testing-py_3_10_8-97ae7619"
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  script:
    - pip install -e .[test]
    - python ci/init_test_db.py
    - python -m pytest --cov=src/ tests/
  services:
    - name: mariadb:10.10.1-rc-jammy


pydoctest_3_10_7:
  stage: testing
  image: "registry.gitlab.com/digonio/pypermission-images:pp_testing-py_3_10_8-97ae7619"
  script:
    - pip install -e .[test]
    - python ci/init_test_db.py
    - python -m pytest docs/
  services:
    - name: mariadb:10.10.1-rc-jammy

#### release ####
pypi:
  image: python:3.10.7-bullseye
  stage: release
  script:
    - pip install .
    - pip install twine
    - python -m python setup.py sdist bdist_wheel
    - python -m twine upload dist/*
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+.\d+.\d+/'
