[project]
name = "pypermission"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [{ name = "Jendrik Potyka", email = "jpotyka@digon.io" }]
license = "SUL-1.0"
requires-python = ">=3.13"
dependencies = ["sqlalchemy>=2.0.43"]

[build-system]
requires = ["uv_build>=0.9.3,<0.10.0"]
build-backend = "uv_build"

[dependency-groups]
dev = [
    "ipykernel>=6.30.1",
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.6.21",
    "mkdocstrings[python]>=0.30.1",
    "psycopg>=3.2.10",
]
util = [
    "dash>=3.2.0",
    "matplotlib>=3.10.6",
    "nbformat>=5.10.4",
    "networkx>=3.5",
    "plotly>=6.3.1",
    "scipy>=1.16.2",
]
