/* Colours */

.black {
    color: black;
}

.gray {
    color: gray;
}

.silver {
    color: silver;
}

.white {
    color: white;
}

.maroon {
    color: maroon;
}

.red {
    color: red;
}

.fuchsia {
    color: fuchsia;
}

.pink {
    color: pink;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.lime {
    color: lime;
}

.green {
    color: green;
}

.olive {
    color: olive;
}

.teal {
    color: teal;
}

.cyan {
    color: cyan;
}

.aqua {
    color: aqua;
}

.blue {
    color: blue;
}

.navy {
    color: navy;
}

.purple {
    color: purple;
}

/* Text Sizes */

.huge {
    font-size: huge;
}

.big {
    font-size: big;
}

.small {
    font-size: small;
}

.tiny {
    font-size: tiny;
}

/* Text markup */

body:not([data-theme="light"]) .incremental {
    font-style: italic;
    color: #CE9178;
}

body:not([data-theme="light"]) .pre:not(:where(a *, dl *)) {
    /* color: #ed9d13; */
    color: #9CDCFE;
}


@media not print {
    @media (prefers-color-scheme: dark) {
        body:not([data-theme="light"]) {
            --color-api-keyword: #569CD6;
            --color-problematic: green;
            --color-api-pre-name: #4EC9B0;
            --color-api-name: #DCDCAA;
        }
    }
}


.pre:not(:where(a *, dl *)) {
    color: #008000;
}
