/* CODE HIGHLIGHTING DARK MODE */
/* Heavily copied from VSCode Dark+ (default) color scheme*/

@media not print {
@media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) .highlight { background: #1E1E1E; /* color: #d0d0d0 */ }
    body:not([data-theme="light"]) .highlight .k { color: #C586C0; /* color: #569CD6; */ font-weight: bold } /* Keyword, Literal['class', 'return', 'for', 'def'] */
    body:not([data-theme="light"]) .highlight .l { color: #CE9178 } /* Literal, yaml value */
    body:not([data-theme="light"]) .highlight .n { color: #9CDCFE /* color: #4EC9B0; */ } /* Name, named variables/identifier/class */
    body:not([data-theme="light"]) .highlight .o { color: #d0d0d0 } /* Operator, operators: ['.', '=', '->'] */
    body:not([data-theme="light"]) .highlight .p { color: #FFD700 } /* Punctuation, paranthesis, commas: ['{', '}', '(', ')', ','] */
    body:not([data-theme="light"]) .highlight .c1 { color: #6A9955; font-style: italic } /* Comment.Single, comment [`#`] */
    body:not([data-theme="light"]) .highlight .gp { color: #D4D4D4, /* color: #cccccc; */ } /* Generic.Prompt, console output */
    body:not([data-theme="light"]) .highlight .kc { color: #569CD6; font-weight: bold } /* Keyword.Constant, None */
    body:not([data-theme="light"]) .highlight .kn { color: #C586C0; font-weight: bold } /* Keyword.Namespace, Literal['import'] | Literal['from'] */
    body:not([data-theme="light"]) .highlight .nb { color: #4EC9B0 } /* Name.Builtin, functions, dtypes? Literal['set', 'str', 'dict', 'int'] */
    body:not([data-theme="light"]) .highlight .nc { color: #4EC9B0; text-decoration: underline } /* Name.Class, identifier class */
    body:not([data-theme="light"]) .highlight .nd { color: #4EC9B0 /* color: #DCDCAA; */ } /* Name.Decorator, Literal['@property'] */
    body:not([data-theme="light"]) .highlight .nf { color: #DCDCAA /* color: #9CDCFE; */ } /* Name.Function, identifier function */
    body:not([data-theme="light"]) .highlight .nn { color: #4EC9B0; text-decoration: underline } /* Name.Namespace, import: module name */
    body:not([data-theme="light"]) .highlight .nt { color: #569CD6; font-weight: bold } /* Name.Tag, yaml key */
    body:not([data-theme="light"]) .highlight .ow { color: #569CD6; font-weight: bold } /* Operator.Word, operators: ['in'] */
    body:not([data-theme="light"]) .highlight .s2 { color: #CE9178 } /* Literal.String.Double, strings two ticks */
    body:not([data-theme="light"]) .highlight .s1 { color: #CE9178 } /* Literal.String.Single, strings one tick */
    body:not([data-theme="light"]) .highlight .bp { color: #2fbccd } /* Name.Builtin.Pseudo, Literal['self'] */
}
}