@media not print {
@media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) .highlight { background: #1E1E1E; /* color: #d0d0d0 */ }
    body:not([data-theme="light"]) .highlight .c1 { color: #ababab; font-style: italic } /* Comment.Single */
    body:not([data-theme="light"]) .highlight .bp { color: #2fbccd } /* Name.Builtin.Pseudo, Literal['self'] */
    }
}
